# Python
__pycache__/
*.py[cod]
*$py.class

# Databases
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
